# Build directories
build/
build_*/
out/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl

# Bazel
bazel-*

# Coverage
*.gcda
*.gcno
*.gcov
*.profraw
*.profdata
coverage/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Python
__pycache__/
*.pyc

# lintrunner
.lintbin/
.lintrunner.private.toml
